*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #020103;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #07020a;
    margin-left:10%;

}

fieldset{
    border: 0;
}

body{
    background-color: rgb(33, 91, 138);
    font-family: sans-serif;
    font-size: 1em;
    color: #07010a;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo{
    margin-bottom: 0.2em;
    color:#040207;
    display: block;

}


fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],.campo input[type="email"], .campo textarea{
    padding: 0.2em;
    border: 1px solid #060408;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: rgb(75, 138, 192);
}

.botao{
    font-size: 1.3em;
    background: #323035;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(50%); 
}

.botao:hover{
    background: #dd4d0b;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check{
    display: inline-block 
}